*altera*
.bash_history
.gem*
.gimp*
.gitk*
.gtk-bookmarks
.idlerc*
.ipToolbench*
.kdiff3rc
.magma*
.mp3splt-gtk*
.recently-used.xbel
.sopc_builder*
.ssh*
.subversion*
.thumbnails*
Application*
Cookies*
Favorites*
IECompatCache*
IETldCache*
Local*
My\ Documents*
NTUSER*
NetHood*
PUTTY*
PrivacIE*
Recent*
SendTo*
TOSHIBA*
Templates*
UserData*
_viminfo
awK*
bin*
chris*
debussy*
