--langdef=autohotkey
--langmap=autohotkey:.ahk
--regex-autohotkey=/^[ \t]*([a-zA-Z0-9_]+)\:\s*$/\1/l,label/
--regex-autohotkey=/^[ \t]*(NOTE|note|Note)[ \t]*\:[ \t]*(.*)/\2/n,note/
--regex-autohotkey=/^[ \t]*(TODO|todo|Todo)[ \t]*\:[ \t]*(.*)/\2/t,todo/
--regex-autohotkey=/^([a-zA-Z0-9_@]+)[ \t]*\(.*\)[ \t]*{/\1/f,function/


